/***** Reset *****/
@import "reset";
/***** Fonts *****/
@import "fonts";
/***** Pattern *****/
@import "pattern";
/***** Box-sizing *****/
html {
	box-sizing: border-box;

}
body {
	font-family: Gilroy;
	font-style: normal;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	background: url("./../img/png/bg-image.png") no-repeat;
	background-size: 100% 100%;
	position: relative;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.img_clouds {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: -1;

	.clouds {
		position: absolute;
		width: 100%;
	}

	.clouds-1 {
		top: -320px;
	}
	.clouds-2 {
		top: -160px;
	}
}

.header {
	margin-top: 61px;
	margin-bottom: 73px;

	&__logo_pict {
		margin-right: 15.14px;
	}
	&__logo_title {
		color: black;
		max-width: 261px;
		font-size: 13px;
		text-align: left;
		line-height: 18px;
	}
}
.wrapper {
	margin: 0 auto;
	max-width: 962px;
}

.section-top {
	margin-bottom: 53px;

	&__title {
		margin-bottom: 12px;
		@include font_size-line(17px, 20px);
	}
	&__question {
		max-width: 413px;
		@include font_size-line(24px, 34px);
		margin-bottom: 27px;
	}
	&__items-wrapper {
		flex-wrap: wrap;
		.item {
			width: 270px;

			&__logo {
				@include size(60px, 60px);
			}
			&:not(:last-child) {
				margin-right: 51px;
			}
		}
	}
}
.section-rect {
	max-width: 962px;
	height: 490px;
	background-color: #fff;
	padding: 10px;
	border: 1px dashed rgba(0, 0, 0, 0.08);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
	border-radius: 8px;
	margin: 0 auto;

	.block {
		border: 1px solid rgba(0, 0, 0, 0.08);
		box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
		border-radius: 8px;
	}
	.questions-line__block {
		height: 76px;
		padding: 28px 26px 28px 27px;
		margin-bottom: 10px;
	}
	.questions-content__block {
		padding: 34px;

		.question__title {
			text-transform: uppercase;
			@include font_size-line(14px, 17px);
			margin-bottom: 14px;
		}
		.question__main {
			@include font_size-line(24px, 29px);
			margin-bottom: 37px;
			max-width: 256px;
			text-align: center;
		}
		.input {
			border-radius: 8px;
			background-color: #F4F4F4;
			@include size(210px, 61px);
			@include font_size-line(16px, 20px);
			font-family: Gilroy;
			padding: 19px;
		}
	}
}
.img_top-layer {
	position: absolute;
	bottom: 0;
	left: 0;
}
